#,Apellido Paterno,Apellido Materno,Nombre(s),RUN,N° Alumno,Currículo,sección,Carrera,E-mail,UID
1,GONZALEZ,,BENJAMÍN,111111-K,12345678,960302,2,(9603) CURSOS DE INTERCAMBIO,benjamin@estudiante.uc.cl,benjamin
2,SEPÚLVEDA,GUTIERREZ,ENZO ANDRES,22222222-K,12345678,040013,2,(400) INGENIERÍA CIVIL,enzo@uc.cl,enzo
